  .RepairTeamContainer{
    height: 100%;
    width: 100%;
    margin-top: 60px;
}

  
  
  
  /* .RepairTeamContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 15%;
    height: 85%;
        height: 90vh;
    margin-top: 60px;
}
    
.TaskCompenet{
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #f0f0f0;
    font-size: 17px;

}
.headoftaskcompenent{
 display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.headoftaskcompenent p{
    font-size: 0.7em;
    font-weight: bold;
    color: #333;
    background-color: brown;
    border-radius: 10px;
    margin: 0;
}
.imagecontinar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.imagecontinar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 */
