.leaflet-popup-content {
  margin: 8px 12px;
  padding: 0;
  width: 250px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.leaflet-popup-content-wrapper {
  border-radius: 12px;
  background: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}